.button-gradient-border {
  position: relative;
  z-index: 1; /* Ensure the button content is above the border */
}

.button-gradient-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit; /* Inherit the border-radius from the button */
  padding: 1.5px; /* Adjust the padding to control the thickness of the border */
  background: linear-gradient(
    180deg,
    rgba(5, 135, 255, 0.5) 5%,
    rgba(3, 81, 153, 0.1) 95%
  );
  background: linear-gradient(
    180deg,
    rgba(129, 187, 255, 0.5) 5%,
    rgba(36, 118, 215, 0.1) 95%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: exclude; /* Makes the content area transparent */
  z-index: -1; /* Place it below the button content */
}

.gradient-border {
  position: relative;
  z-index: 1; /* Ensure the button content is above the border */
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit; /* Inherit the border-radius from the button */
  padding: 0.5px; /* Adjust the padding to control the thickness of the border */
  background: linear-gradient(
    180deg,
    rgba(129, 187, 255, 0.4) 5%,
    rgba(36, 118, 215, 0.05) 95%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: exclude; /* Makes the content area transparent */
  z-index: -1; /* Place it below the button content */
}

.button-gradient-border-h:hover {
  position: relative;
  z-index: 1; /* Ensure the button content is above the border */
  transition: all;
  transition-duration: 300ms;
}

.button-gradient-border-h:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit; /* Inherit the border-radius from the button */
  padding: 0.5px; /* Adjust the padding to control the thickness of the border */
  background: linear-gradient(
    180deg,
    rgba(5, 135, 255, 0.5) 5%,
    rgba(3, 81, 153, 0.1) 95%
  );
  background: linear-gradient(
    180deg,
    rgba(129, 187, 255, 0.5) 5%,
    rgba(36, 118, 215, 0.1) 95%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: exclude; /* Makes the content area transparent */
  z-index: -1; /* Place it below the button content */
  transition: all;
  transition-duration: 300ms;
}

.gradient-border-h:hover {
  position: relative;
  z-index: 1; /* Ensure the button content is above the border */
  transition: all;
  transition-duration: 300ms;
}

.gradient-border-h:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit; /* Inherit the border-radius from the button */
  padding: 0.5px; /* Adjust the padding to control the thickness of the border */
  background: linear-gradient(
    180deg,
    rgba(129, 187, 255, 0.4) 5%,
    rgba(36, 118, 215, 0.05) 95%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: exclude; /* Makes the content area transparent */
  z-index: -1; /* Place it below the button content */
  transition: all;
  transition-duration: 300ms;
}
